<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCz_wNyfnpnHGgA8R6NnL0zBHKQ8a9eWqI</string>
	<key>GCM_SENDER_ID</key>
	<string>465217024313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.growexx.fileupload</string>
	<key>PROJECT_ID</key>
	<string>bigfileupload-b76ec</string>
	<key>STORAGE_BUCKET</key>
	<string>bigfileupload-b76ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465217024313:ios:ed78a091d1abc2ac8f78e8</string>
</dict>
</plist>